{% autoescape off %}
Olá, {{ user.username }}!

Você está recebendo este e-mail porque solicitou a redefinição de senha da sua conta no Bolão Copa 2026.

Por favor, acesse o link abaixo para escolher uma nova senha:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Se você não solicitou esta alteração, basta ignorar este e-mail e sua senha continuará a mesma.

Obrigado por jogar conosco!

Atenciosamente,
Equipe Bolão Copa 2026 🏆
{% endautoescape %}